

.btn {
    filter: invert(100%); 
      -webkit-filter: invert(100%);
}

.btnBack {
    background-color: red;
}

.right {
    text-align: right;
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 0px 10px 0px 0px;
    color: white;
}

.rightBottom {
    text-align: right;
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 20px 0px 0px 0px;
    color: white;
}

.navbar-brand {
    color: white;

}

.logoB {
    background-color:red;
 
}

.btn.cart {
    margin-left: -10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }

 .para1{
    font-family: 'Mukta', sans-serif;
 }
 .para2{
    font-family: 'Roboto', sans-serif;
 }

 div ul li a:hover {
    background-color: red;
}

  body { 
    background: url(https://image.shutterstock.com/z/stock-photo-young-frustrated-exhausted-woman-laid-her-head-down-on-the-table-sit-work-at-white-desk-with-1188695488.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
